
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 12px; */
  font-family: "Alibaba Sans";
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (max-width: 576px) { /* 手机端 */
  :root {
    font-size:6px;
  }
}
@media (min-width: 576px) { /* 手机端 */
  :root {
    font-size:6px;
  }
}
@media ( min-width: 720px) { /* 手机端 */
  :root {
    font-size:6px;
  }
}
@media (min-width 720px)  { /* 手机端 */
  :root {
    font-size:8px;
  }
}
@media (min-width: 960px) { /* 手机端 */
  :root {
    font-size:10px;
  }
}

@media (min-width: 1140px)  { /* 手机端 */
  :root {
    font-size:16px;
  }
}
input::-webkit-input-placeholder {    /* Chrome/Opera/Safari */
  font-weight: normal;
  font-size: 1.375rem;
  color: #999999;
}
input::-moz-placeholder { /* Firefox 19+ */  
  font-weight: normal;
  font-size: 1.375rem;
  color: #999999;
}
input:-ms-input-placeholder { /* IE 10+ */
  font-weight: normal;
  font-size: 1.375rem;
  color: #999999;
}
input:-moz-placeholder { /* Firefox 18- */
  font-weight: normal;
  font-size: 1.375rem;
  color: #999999;
}
.collapse {
  visibility:none!important;
}

/* 阿里验证码样式 */
#aliyunCaptcha-sliding-text,#aliyunCaptcha-sliding-failTip,#aliyunCaptcha-errorTip {
  font-size:1.2rem;  
}
#aliyunCaptcha-window-embed {
  z-index:0!important;
}
#aliyunCaptcha-sliding-text {
  font-family: "Alibaba Sans";
}
/* #aliyunCaptcha-sliding-body {
  height:4rem!important;
  width: 30rem!important;
}
#aliyunCaptcha-sliding-slider {
  height:4rem!important;
  width: 4rem!important;
  font-size: 2rem!important;
  line-height: 4rem!important;
}
#aliyunCaptcha-sliding-left {
  width: 30rem!important;
} */
.bitip_font_family {
  font-family: "Alibaba Sans";
}
/* 阿里字体 */
@font-face {
  font-family: "Alibaba Sans";
  font-weight: 250;
  src: url('/font/Alibaba_PuHuiTi_2.0_35_Thin_35_Thin.ttf') format("woff2"),
}
@font-face {
  font-family: "Alibaba Sans";
  font-weight: 300;
  src: url('/font/Alibaba_PuHuiTi_2.0_45_Light_45_Light.ttf') format("woff2"),
}

@font-face {
  font-family: "Alibaba Sans";
  font-weight: 400;
  src: url('/font/Alibaba_PuHuiTi_2.0_55_Regular_55_Regular.ttf') format("woff2"),
}
@font-face {
  font-family: "Alibaba Sans";
  font-weight: 500;
  src: url('/font/Alibaba_PuHuiTi_2.0_65_Medium_65_Medium.ttf') format("woff2"),
}
@font-face {
  font-family: "Alibaba Sans";
  font-weight: 700;
  src: url('/font/Alibaba_PuHuiTi_2.0_55_Regular_85_Bold.ttf') format("woff2"),
}

@font-face {
  font-family: "Alibaba Sans";
  font-weight: 800;
  src: url('/font/Alibaba_PuHuiTi_2.0_95_ExtraBold_95_ExtraBold.ttf') format("woff2"),
}
span {
  font-family: "Alibaba Sans";
}

.ellipsis-single {
  overflow: hidden;      /* 隐藏溢出内容 */
  text-overflow: ellipsis; /* 显示省略符号 */
  white-space: nowrap;   /* 禁止文本换行 */
  /* width:2rem; */
}

